aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiokafka==0.13.0
aiosignal==1.4.0
aiosqlite==0.22.1
alembic==1.18.4
amplitude-analytics==1.2.2
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
appdirs==1.4.4
apprise==1.9.9
asgi-lifespan==2.1.0
async-timeout==5.0.1
asyncpg==0.31.0
attrs==26.1.0
backoff==2.2.1
beartype==0.22.9
blinker==1.9.0
boto3==1.42.73
botocore==1.42.73
cachetools==7.0.5
catboost==1.2.10
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.6
click==8.3.1
cloudpickle==3.1.2
colorama==0.4.6
colorlog==6.10.1
contourpy==1.3.3
coolname==4.1.0
cronsim==2.7
cryptography==46.0.5
cycler==0.12.1
cyclopts==4.10.0
dacite==1.6.0
dagshub==0.6.8
dagshub-annotation-converter==0.1.16
databricks-sdk==0.102.0
dataclasses-json==0.6.7
dateparser==1.3.0
docker==7.1.0
docstring-parser==0.17.0
docutils==0.22.4
dotenv==0.9.9
exceptiongroup==1.3.1
faker==40.11.0
fakeredis==2.34.1
fastapi==0.135.1
filelock==3.25.2
flask==3.1.3
flask-cors==6.0.2
fonttools==4.62.1
frozenlist==1.8.0
fsspec==2026.2.0
gitdb==4.0.12
gitpython==3.1.46
google-auth==2.49.1
gql==4.0.0
graphene==3.4.3
graphql-core==3.2.8
graphql-relay==3.2.0
graphviz==0.21
greenlet==3.3.2
griffe==2.0.0
griffecli==2.0.0
griffelib==2.0.0
gunicorn==25.1.0
h11==0.16.0
h2==4.3.0
hpack==4.1.0
httpcore==1.0.9
httpx==0.28.1
huey==2.6.0
humanize==4.15.0
hyperframe==6.1.0
idna==3.11
importlib-metadata==8.7.1
itsdangerous==2.2.0
jinja2==3.1.6
jinja2-humanize-extension==0.4.0
jmespath==1.1.0
joblib==1.5.3
jsonpatch==1.33
jsonpointer==3.1.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kiwisolver==1.5.0
lightgbm==4.6.0
llvmlite==0.46.0
lupa==2.6
lxml==6.0.2
mako==1.3.10
markdown==3.10.2
markdown-it-py==4.0.0
markupsafe==3.0.3
marshmallow==3.26.2
matplotlib==3.10.8
mdurl==0.1.2
mlflow==3.10.1
mlflow-skinny==3.10.1
mlflow-tracing==3.10.1
mpmath==1.3.0
multidict==6.7.1
mypy-extensions==1.1.0
narwhals==2.18.0
neo4j==6.1.0
networkx==3.6.1
numba==0.64.0
numpy==2.4.3
oauthlib==3.3.1
opentelemetry-api==1.40.0
opentelemetry-proto==1.40.0
opentelemetry-sdk==1.40.0
opentelemetry-semantic-conventions==0.61b0
optuna==4.8.0
optuna-integration==4.8.0
orjson==3.11.7
packaging
pandas==2.3.3
pathspec==1.0.4
pathvalidate==3.3.1
pillow==12.1.1
pip
plotly==6.6.0
pluggy==1.6.0
prefect==3.6.23
prettytable==3.17.0
prometheus-client==0.24.1
propcache==0.4.1
protobuf==6.33.6
psutil==7.2.2
py-key-value-aio==0.4.4
pyarrow==23.0.1
pyasn1==0.6.3
pyasn1-modules==0.4.2
pycparser==3.0
pydantic==2.12.5
pydantic-core==2.41.5
pydantic-extra-types==2.11.1
pydantic-settings==2.13.1
pydocket==0.18.2
pygments==2.19.2
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-json-logger==4.0.0
python-slugify==8.0.4
pytz==2026.1.post1
pyyaml==6.0.3
readchar==4.2.1
redis==7.3.0
referencing==0.37.0
regex==2026.2.28
requests==2.32.5
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rich==14.3.3
rich-rst==1.3.2
rpds-py==0.30.0
ruamel-yaml==0.19.1
ruamel-yaml-clib==0.2.15
s3transfer==0.16.0
scikit-learn==1.8.0
scipy==1.17.1
semver==3.0.4
setuptools==80.10.2
shap==0.51.0
shellingham==1.5.4
six==1.17.0
skops==0.13.0
slicer==0.0.8
smmap==5.0.3
sniffio==1.3.1
sortedcontainers==2.4.0
sqlalchemy==2.0.48
sqlparse==0.5.5
starlette==0.52.1
sympy==1.14.0
tenacity==9.1.4
text-unidecode==1.3
threadpoolctl==3.6.0
toml==0.10.2
torch==2.10.0
torch-geometric==2.7.0
tqdm==4.67.3
treelib==1.8.0
typer==0.24.1
typing-extensions==4.15.0
typing-inspect==0.9.0
typing-inspection==0.4.2
tzdata==2025.3
tzlocal==5.3.1
uncalled-for==0.2.0
urllib3==2.6.3
uvicorn==0.42.0
wcwidth==0.6.0
websockets==16.0
werkzeug==3.1.6
wheel==0.46.3
whenever==0.9.5
xgboost==3.2.0
xxhash==3.6.0
yarl==1.23.0
zipp==3.23.0
